@font-face {
    font-family: "Amatic SC";
    src: url("../fonts/AmaticSC-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf");
    font-display: swap;
}
