@font-face {
    font-family: "Concrete R";
    src: url("../fonts/Concrete-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: "Cormorant M";
    src: url("../fonts/Cormorant-Medium.ttf");
    font-display: swap;
}
