@import '~reset-css';
@import '@/assets/scss/typography';
@import '@/assets/scss/fonts';
@import '@/assets/scss/transitions';

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

button, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
}
