@import 'src/assets/scss/vars';
@import 'src/assets/scss/mixins';

$fs-base: 16px;
$font-family-title: 'Amatic SC', museosans, helvetica, arial, sans-serif;
$font-family: 'Montserrat', museosans, helvetica, arial, sans-serif;

html {
  -webkit-font-smoothing: antialiased;

  font-size: $fs-base;
  font-family: $font-family;
  font-weight: 500;
  color: $color-black;
  letter-spacing: 0;

  input,
  textarea,
  select,
  button {
    font-family: $font-family;
    font-weight: 500;
    font-size: $fs-base;
  }

  h1 {
    font-family: $font-family-title;
  }

  h2 {
    font-family: $font-family-title;
  }
}

h1, .h1 {
  line-height: 1;
  font-size: $fs-60;
  font-weight: normal;
  @include from-br(m) {
    font-size: $fs-100;
  }
}

h2 {
  line-height: 1;
  font-weight: normal;
  font-size: $fs-40;
  @include from-br(m) {
    font-size: $fs-60;
  }
}

.text-md {
  font-size: $fs-16;
  line-height: 1.2;
  @include from-br(md) {
    font-size: $fs-base;
  }
}
