html {
  -webkit-font-smoothing: antialiased;

  font-size: $fs-base-m;
  font-family: $font-family;
  font-weight: 500;
  letter-spacing: 0;
  @include from-br(m) {
    font-size: $fs-base-desk;
  }

  input,
  textarea,
  select,
  button {
    font-family: $font-family;
    font-weight: 400;
    font-size: $fs-base-m;
    @include from-br(m) {
      font-size: $fs-base-desk;
    }
  }

  h1 {
    font-family: $font-family-title;
  }

  h2 {
    font-family: $font-family-title;
  }
}

h1, .h1 {
  line-height: 1;
  font-size: $fs-title-m;
  font-weight: 400;
  @include from-br(m) {
    font-size: $fs-title-l;
  }
}

h2 {
  line-height: 1;
  font-weight: 400;
  font-size: $fs-title-s;
  @include from-br(m) {
    font-size: $fs-title-m;
  }
}

.text-md {
  font-size: $fs-base-m;
  font-weight: 400;
  line-height: 1.2;
  @include from-br(md) {
    font-size: $fs-25;
  }
}
