// font families
$font-family-title: 'Concrete R', museosans, helvetica, arial, sans-serif;
$font-family: 'Cormorant M', museosans, helvetica, arial, sans-serif;

// font sizes
$fs-base-desk: 20px;
$fs-base-m: 16px;
$fs-title-l: 80px;
$fs-title-m: 40px;
$fs-title-s: 30px;
$fs-25: 25px;
$fs-20: 20px;
$fs-16: 16px;

// paddings and margins
$p-5: 5px;
$p-10: 10px;
$p-20: 20px;
$p-40: 40px;
$p-60: 60px;

// z-index
$z-plus: 10;
