// colors
$color-accent: #F49737;
$color-bg: #FFF8F2;
$color-black: #2E2E34;
$color-box: #F8DFC7;
$color-white: #FFFFFF;

// font sizes
$fs-100: 100px;
$fs-60: 60px;
$fs-40: 40px;
$fs-25: 25px;
$fs-20: 20px;
$fs-16: 16px;

// paddings and margins
$p-5: 5px;
$p-10: 10px;
$p-20: 20px;
$p-40: 40px;
$p-60: 60px;

// z-index
$z-plus: 10;
